<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="header">
    <div class="head width_1000">
        <div class="logo fl">
            <a href="/index/index" title=""
               style="color:#fcfcfc;font-size: 30px;width:1000px; height:100px; text-align:center; line-height:120px;">
                <!--                <img src="/static/images/logo.png"/>-->
                承德医学院本科生科研训练与学科竞赛管理系统
            </a>
        </div>
        <div class="fr">
            <div class="search">
                <form action="">
                    <input type="text" value="请输入关键字" class="searchText"
                           onfocus="if(this.value=='请输入关键字'){this.value=''}"
                           onblur="if(this.value==''){this.value='请输入关键字'}"
                    >
                    <input type="submit" class="searchBtn" value=""/>
                </form>
            </div>
            <div class="kyxlbtn">
                <button onclick="javascrtpt:window.location.href='/kyxl/login_preSearchkyxl.action'">科研项目、竞赛获奖检索
                </button>
            </div>
        </div>
    </div>
</div>