<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>本科生科研训练与学科竞赛管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/cg.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/css.css"/>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/cg.min.js"></script>
    <style type="">
        .kyxlTab a {
            color: #000;
            text-decoration: none;
            float: left;
            font-size: 14px;
        }

        .backli {
            background: url(/static/images/zdts.jpg) no-repeat left center;
            padding-left: 15px;
            line-height: 33px;
        }

        .xwdt .cgzs-heading {
            width: 220px;
            padding: 0px 11px;
            font-weight: normal;
        }
    </style>
</head>