<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="fl pr16" th:fragment="list-left">
    <div class="cjwt width_240">
        <div class="title">
            <h3>
                常见问题
            </h3>
            <a href="/index/problem">
                <span>|</span> more</a>
        </div>
        <ul class="cg-news-list" id="cjwt">

        </ul>
    </div>
    <div class="xgwj  width_240">
        <div class="title">
            <h3>
                相关文件
            </h3>
            <a href="/index/file">
                <span>|</span> more</a>
        </div>
        <ul class="cg-news-list" id="xgwj">


        </ul>
    </div>

    <div class="xglj  width_240" style="margin-top: 30px">
        <div class="title">
            <h3>
                相关链接
            </h3>
        </div>
        <ul class="cg-news-list">

            <li>
                <a href="http://www.cdmc.edu.cn/">承德医学院主站</a>
            </li>

            <li>
                <a href="http://xuebao.cdmc.edu.cn/">承德医学院学报</a>
            </li>

            <li>
                <a href="http://www.cdmcbme.cn/">承德医学院生物医学工程系</a>
            </li>

            <li>
                <a href="http://xsgz.cdmc.edu.cn/">承德医学院学生工作部</a>
            </li>
            <li>
                <a href="http://jwc.cdmc.edu.cn/">承德医学院教务处</a>
            </li>




        </ul>
    </div>
</div>
