<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<div class="nav" th:fragment="nav">
    <div class="navBox width_1000">
        <ul class="cg-nav fl">
            <li class="current">
                <a href="/index/index">首页</a>
            </li>
            <li style="padding-left: 41px; padding-right: 41px;">
                <a href="/index/process">指南流程</a>
            </li>
            <li style="padding-left: 41px; padding-right: 41px;">
                <a href="/index/news">新闻动态</a>
            </li>
            <li style="padding-left: 41px; padding-right: 41px;">
                <a href="/index/training">科研训练</a>
            </li>
            <li style="padding-left: 41px; padding-right: 41px;">
                <a href="/index/competition">学科竞赛</a>
            </li>
            <li style="padding-left: 41px; padding-right: 41px;">
                <a href="/index/download">相关下载</a>
            </li>
        </ul>
        <div class="login fr">
            <a href="/index/login">登陆</a>
            <a href="/manager/main" shiro:hasPermission="manager:index">后台</a>
            <div class="fr">
                <div id="login_box" class="login-box" style="display:none;background:#ccc">
                    <div class="login-box-top">
                        <div id="close_top" class="close">关闭</div>
                        <form name="form" method="post" action="/login" id="login_form">
                            <div>账号 <input type="text" value="" id="username" placeholder="使用统一身份认证登录" name="username"
                                           class=""></div>
                            <span>密码 <input type="password" id="password" name="psword" class="login-input"></span>
                            <div class="login-button-box">
                                <input type="submit" value="登录" id="submit" class="login-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/cg.autoNav.js"></script>
<script type='text/javascript'>
    $(".nav .cg-nav").autoNav();

    jQuery(function ($) {
        $("#login_click").click(function () {
            var lg = $("#login_box");
            lg.fadeIn(500);
        });
        $("#close_top").click(function () {
            $(this).parents("#login_box").fadeOut(500);
        });
    });

</script>



