<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common-view/head"></head>
<body>
<div th:include="common-view/header"></div>
<div th:include="common-view/nav"></div>
<script src="/static/js/cg.autoNav.js"></script>
<script src="/static/js/nav.cg-nav.js"></script>


<div class="content width_1000 clearfix">

    <div class="list-left fl">
        <div class="catalogBox">

            <div th:include="common-view/list-left"></div>
        </div>
    </div>
    <script src="/static/js/catalogList.li.js"></script>


    <div class="list-right fr">
        <div class="cg-position">
            当前位置：<a href="/index/">首页</a> > <a href="">新闻动态</a>
        </div>
        <div class="list-right-content new">
            <ul class="cg-news-list" style="padding-top: 0">
                <li>
                    <a href="/kyxl/xtgg_getOne.action?ggid=817" class="art-heading">
                        关于公示浙江大学2020年本科生国家级、省级、校级创新创业训练计划项目名单的通知
                    </a>
                    <span class="art-date">[04-17]</span>
                </li>
                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=791" class="art-heading">

                        关于公布浙江大学第二十五届大学生机械设计竞赛 理论方案评审结果
                    </a>
                    <span class="art-date">[01-15]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=770" class="art-heading">

                        关于举行浙江大学TP-LINK杯第25届电子设计竞赛和全国电子设计竞赛的通知
                    </a>
                    <span class="art-date">[05-16]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=762" class="art-heading">

                        关于公示“当世界爱上中国”浙江大学十五届大学生中文演讲竞赛获奖名单的通知
                    </a>
                    <span class="art-date">[04-30]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=759" class="art-heading">

                        本科生院关于浙江大学第十届大学生电子商务竞赛决赛答辩的通知
                    </a>
                    <span class="art-date">[04-30]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=757" class="art-heading">

                        关于公示浙江大学第十四届大学生英语演讲竞赛获奖名单的通知
                    </a>
                    <span class="art-date">[04-29]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=752" class="art-heading">

                        浙江大学第十二届节能减排社会实践与科技竞赛决赛顺利举行
                    </a>
                    <span class="art-date">[04-15]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=745" class="art-heading">

                        关于浙江大学“中控杯”第13届大学生过程工程综合能力竞赛评审结果公示
                    </a>
                    <span class="art-date">[04-01]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=729" class="art-heading">
                        浙江大学全国高校第一！2014-2018年中国高校创新人才培养暨学科竞赛评估结果发......

                    </a>
                    <span class="art-date">[02-22]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=722" class="art-heading">

                        浙江大学大学生学科竞赛宣传册
                    </a>
                    <span class="art-date">[12-20]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=685" class="art-heading">

                        浙大获2018机器人世界杯冠军！
                    </a>
                    <span class="art-date">[06-22]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=667" class="art-heading">

                        关于公示浙江大学十三届大学生英语演讲竞赛获奖名单的通知
                    </a>
                    <span class="art-date">[05-25]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=665" class="art-heading">

                        第九届全国大学生广告艺术大赛浙江分赛区浙江大学校赛评审结果公示
                    </a>
                    <span class="art-date">[05-24]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=662" class="art-heading">

                        浙江大学“中天杯”第十九届大学生结构设计竞赛评审结果公示
                    </a>
                    <span class="art-date">[05-24]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=660" class="art-heading">

                        浙江大学第二十三届大学生机械设计竞赛作品制作经费报销的通知
                    </a>
                    <span class="art-date">[05-21]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=655" class="art-heading">

                        浙江大学第11届大学生节能减排竞赛获奖名单公布
                    </a>
                    <span class="art-date">[05-02]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=654" class="art-heading">

                        浙江大学第十一届节能减排社会实践与科技竞赛决赛隆重举行
                    </a>
                    <span class="art-date">[05-02]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=626" class="art-heading">
                        关于公示浙江大学2019年本科生国家级、省级、校级创新创业训练计划、科研实践项目名......

                    </a>
                    <span class="art-date">[04-01]</span>

                </li>

            </ul>

            <div class="cg-page">
                <a href="xtgg_tzlist.action?type=xwdt& pager.offset=0& pager.curPage=1">第一页</a>
                <a href="xtgg_tzlist.action?type=xwdt&pager.offset=0&pager.curPage=1">上一页</a>
                <a href="xtgg_tzlist.action?type=xwdt&pager.offset=0&pager.curPage=2">下一页</a>
                <a href="xtgg_tzlist.action?type=xwdt&pager.offset=0&pager.curPage=15">尾页</a>

                &nbsp;&nbsp;&nbsp;&nbsp;<span>当前第1页</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>共15页</span>
            </div>
        </div>
    </div>
</div>

<div th:include="common-view/footer"></div>
</body>
</html>