<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common-view/head"></head>
<body>
<div th:include="common-view/header"></div>
<div th:include="common-view/nav"></div>
<script src="/static/js/cg.autoNav.js"></script>
<script src="/static/js/nav.cg-nav.js"></script>


<div class="content width_1000 clearfix">

    <div class="list-left fl">
        <div class="catalogBox">

            <div th:include="common-view/list-left"></div>
        </div>
    </div>
    <script src="/static/js/catalogList.li.js"></script>

    <div class="list-right fr">
        <div class="cg-position">

            当前位置：<a href="/kyxl/">首页</a> > <a href="">指南流程</a>
        </div>
        <div class="list-right-content new">
            <ul class="cg-news-list" style="padding-top: 0">

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=718" class="art-heading">

                        浙江大学本科生学科竞赛联系一览表
                    </a>
                    <span class="art-date">[11-19]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=618" class="art-heading">

                        浙江大学本科生科研训练项目系统申报指南、项目管理操作手册
                    </a>
                    <span class="art-date">[03-14]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=507" class="art-heading">

                        学科竞赛参赛队上传理论方案操作手册
                    </a>
                    <span class="art-date">[05-31]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=320" class="art-heading">

                        浙江大学本科生科研训练工作流程
                    </a>
                    <span class="art-date">[04-25]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=319" class="art-heading">

                        浙江大学大学生学术节工作流程
                    </a>
                    <span class="art-date">[04-25]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=318" class="art-heading">

                        本科生申请学科竞赛获奖保研资格流程
                    </a>
                    <span class="art-date">[04-25]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=316" class="art-heading">

                        学科竞赛和科研训练实践基地建设流程
                    </a>
                    <span class="art-date">[04-25]</span>

                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=321" class="art-heading">

                        浙江大学本科生学科竞赛工作流程
                    </a>
                    <span class="art-date">[04-25]</span>

                </li>

            </ul>

        </div>
    </div>

</div>


<div th:include="common-view/footer"></div>
</body>
</html>