<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common-view/head"></head>
<body>

<div th:include="common-view/header"></div>

<div th:include="common-view/nav"></div>


<script src="/static/js/cg.autoNav.js"></script>

<script type='text/javascript'>
    $(".nav .cg-nav").autoNav();
    jQuery(function ($) {
        $("#login_click").click(function () {
            var lg = $("#login_box");
            lg.fadeIn(500);
        });
        $("#close_top").click(function () {
            $(this).parents("#login_box").fadeOut(500);
        });
    });
</script>

<div class="content width_1000">
    <div class="contentBox clearfix">
        <div class="fl pr16">
            <div class="cjwt width_240">
                <div class="title">
                    <h3>
                        常见问题
                    </h3>
                    <a href="/index/problem">
                        <span>|</span> more</a>
                </div>
                <ul class="cg-news-list" id="cjwt">


                </ul>
            </div>
            <div class="xgwj  width_240">
                <div class="title">
                    <h3>
                        相关文件
                    </h3>
                    <a href="/index/file">
                        <span>|</span> more</a>
                </div>
                <ul class="cg-news-list" id="xgwj">


                </ul>
            </div>
        </div>
        <div class="zdts new fl pr16">
            <div class="title">
                <h3>
                    重点提示
                </h3>
                <a href="/index/tips">
                    <span>|</span> more</a>
            </div>
            <ul class="cg-news-list" id="zdts">


            </ul>
        </div>
        <div class="xwdt fr width_240">
            <div class="title">
                <h3>
                    新闻动态
                </h3>
                <a href="/index/news">
                    <span>|</span> more</a>
            </div>
            <ul class="cg-news-list">


                <li>


                    <div class="art-img">
                        <a href="/kyxl/xtgg_getOne.action?ggid=729"><img
                                src="/kyxl/uploads/1550825917758.png"
                                alt="承德医学院全国高校第一！2014-2018年中国高校创新人才培养暨学科竞赛评估结果发布"/>
                        </a>
                    </div>
                    承德医学院全国高校第一！2014-2018年中国高校创新人才培养暨学科竞赛评估结果发布
                    <h3 class="art-heading">
                        <a href="" class="fl">承德医学院全国高校第一！2014</a>
                        <span class="art-date fr">[02-22]</span>
                    </h3>


                </li>


            </ul>
        </div>
        <div class="cgzs fr width_240 mt10">
            <div class="title">
                <h3>
                    成果展示
                </h3>
                <a href="/index/achievement">
                    <span>|</span> more</a>
            </div>
            <ul class="cg-news-list" id="cgzs">


            </ul>
        </div>
    </div>
    <div class="pt23 clearfix">
        <div class="xglj fl width_240 pr16">
            <div class="title">
                <h3>
                    相关链接
                </h3>
            </div>
            <ul class="cg-news-list">
                <li>
                    <a href="http://www.cdmc.edu.cn/">承德医学院主站</a>
                </li>

                <li>
                    <a href="http://xuebao.cdmc.edu.cn/">承德医学院学报</a>
                </li>

                <li>
                    <a href="http://www.cdmcbme.cn/">承德医学院生物医学工程系</a>
                </li>

                <li>
                    <a href="http://xsgz.cdmc.edu.cn/">承德医学院学生工作部</a>
                </li>

                <li>
                    <a href="http://jwc.cdmc.edu.cn/">承德医学院教务处</a>
                </li>

            </ul>
        </div>
        <div class="kyxl fl">
            <div class="title">
                <h3>
                    科研训练
                </h3>
                <a href="/index/training"> <span>|</span>
                    more</a>
            </div>
            <div class="kyxlTab">
                <ul>
                    <li>
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=1"
                           title="国创——国家大学生创新创业训练计划项目">国创——国家大学生创新创业训练计划项目</a>
                    </li>
                    <li>
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=2" title="省创——河北省大学生科技创新活动计划（新苗人才计划）项目">省创——河北省大学生科技创新活动计划（新苗人才计划）项目</a>
                    </li>
                    <li style="line-height: 19px">
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=4"
                           title="校级SRTP——承德医学院大学生科研训练计划项目（Student Research Training Program）">
									<span style="display: block;">
										校级SRTP——承德医学院大学生科研训练计划项目（Student Research
									</span>
                            <span style="margin-left: 105px;">
										Training Program）
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=4" title="院级SRTP——学院大学生科研训练计划项目">院级SRTP——学院大学生科研训练计划项目</a>
                    </li>
                    <li style="line-height: 19px">
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=3" title="科教协同——中控教育基金项目、教育部有关企业支持的产学合作协同育人项目"></a>
                        <span style="display: block;">
										科教协同——中控教育基金项目、教育部有关企业支持的产学合作协同
								</span>
                        <span style="margin-left: 100px;">
									 育人项目
								</span>
                    </li>
                </ul>
            </div>
            <script>
                $(function () {
                    (function () {
                        $(".tabTitle").click(function () {
                            $(".tabContent").hide();
                            $(this).next(".tabContent").show();
                        })
                    })()
                })
            </script>
        </div>
        <div class="xkjs width_240 fr">
            <div class="title">
                <h3>
                    学科竞赛
                </h3>
                <a href="/index/competition"> <span>|</span> more</a>
            </div>
            <ul class="xkjsList">
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=zjjs">国际级</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=gjjs">国家级</a>
                </li>
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=sjjs">省级</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=xjjs">校级</a>
                </li>
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=aljs">A类竞赛</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=bljs">B类竞赛</a>
                </li>
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=cljs">c类竞赛</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=yjdljs">院级D类竞赛</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:include="common-view/footer"></div>
<script src="/static/js/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/static/js/lib/axios/axios.min.js" charset="utf-8"></script>
<script type="text/javascript">

    axios({
        method: 'get',
        params: {
            articleType: '常见问题',
        },
        url: '/index/queryArticleByType',
    }).then(response => {
        var res = response.data;
        var pageInfo = res.data;
        var result = pageInfo.list;
        for (let i = 0; i < result.length; i++) {
            var html = '<li>';
            html += '<a href="/index/queryArticle?articleId=' + result[i].id + '" class = "art-heading"> '
            html += ' ' + result[i].articleTitle.substring(0, 10) + '.... ';
            html += '</a>'
            html += ' <span class= "art-date" >' + result[i].createDate + '</span>';
            html += ' </li>'
            $("#cjwt").append(html);
        }

    });


    axios({
        method: 'get',
        params: {
            articleType: '重点提示',
        },
        url: '/index/queryArticleByType',
    }).then(response => {
        var res = response.data;
        var pageInfo = res.data;
        var result = pageInfo.list;
        for (let i = 0; i < result.length; i++) {
            var html = '<li>';
            html += '<a href="/index/queryArticle?articleId=' + result[i].id + '" class = "art-heading"> '
            html += ' ' + result[i].articleTitle.substring(0, 20) + '.... ';
            html += '</a>'
            html += ' <span class= "art-date" >[' + result[i].createDate + ']</span>';
            html += ' </li>'
            $("#zdts").append(html);
        }
    });


    axios({
        method: 'get',
        params: {
            articleType: '成果展示',
        },
        url: '/index/queryArticleByType',
    }).then(response => {
        var res = response.data;
        var pageInfo = res.data;
        var result = pageInfo.list;
        for (let i = 0; i < result.length; i++) {
            var html = '<li>';
            html += '<a href="/index/queryArticle?articleId=' + result[i].id + '"  class = "art-heading"> '
            html += ' ' + result[i].articleTitle.substring(0, 10) + '.... ';
            html += '</a>'
            html += ' <span class= "art-date" >' + result[i].createDate + '</span>';
            html += ' </li>'
            $("#cgzs").append(html);
        }
    });

    axios({
        method: 'get',
        params: {
            articleType: '相关文件',
        },
        url: '/index/queryArticleByType',
    }).then(response => {
        var res = response.data;
        var pageInfo = res.data;
        var result = pageInfo.list;
        for (let i = 0; i < result.length; i++) {
            var html = '<li>';
            html += '<a href="/index/queryArticle?articleId=' + result[i].id + '"  class = "art-heading"> '
            html += ' ' + result[i].articleTitle + '';
            html += '</a>'
            html += ' </li>'
            $("#xgwj").append(html);
        }
    });

</script>
</body>
</html>