<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common-view/head"></head>
<body>

<div th:include="common-view/header"></div>

<div th:include="common-view/nav"></div>


<script src="/static/js/cg.autoNav.js"></script>

<script type='text/javascript'>
    $(".nav .cg-nav").autoNav();
    jQuery(function ($) {
        $("#login_click").click(function () {
            var lg = $("#login_box");
            lg.fadeIn(500);
        });
        $("#close_top").click(function () {
            $(this).parents("#login_box").fadeOut(500);
        });
    });
</script>

<div class="content width_1000">
    <div class="contentBox clearfix">
        <div class="fl pr16">
            <div class="cjwt width_240">
                <div class="title">
                    <h3>
                        常见问题
                    </h3>
                    <a href="/kyxl/xtgg_tzlist.action?nav=cjwt&type=cjwt">
                        <span>|</span> more</a>
                </div>
                <ul class="cg-news-list">

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=801"
                           class="art-heading">
                            关于科研实践指导老师职级...
                        </a>
                        <span class="art-date">03-04</span>


                    </li>

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=802"
                           class="art-heading">
                            学校给予科研实践项目经费...
                        </a>
                        <span class="art-date">03-04</span>


                    </li>

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=800"
                           class="art-heading">
                            科研实践项目对参与学生资...
                        </a>
                        <span class="art-date">03-04</span>


                    </li>

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=799"
                           class="art-heading">
                            科研训练项目对参与学生资...
                        </a>
                        <span class="art-date">03-04</span>


                    </li>

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=612"
                           class="art-heading">
                            科教协同项目是什么级别、...
                        </a>
                        <span class="art-date">01-25</span>


                    </li>

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=311"
                           class="art-heading">
                            每位本科生必须做科研训练...
                        </a>
                        <span class="art-date">04-25</span>


                    </li>

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=312"
                           class="art-heading">
                            学生能1个人申报项目吗？...
                        </a>
                        <span class="art-date">04-25</span>


                    </li>

                </ul>
            </div>
            <div class="xgwj  width_240">
                <div class="title">
                    <h3>
                        相关文件
                    </h3>
                    <a href="/kyxl/xtgg_tzlist.action?nav=xgwt&type=xgwj">
                        <span>|</span> more</a>
                </div>
                <ul class="cg-news-list">

                    <li>


                        <a href="/kyxl/xtgg_getOne.action?ggid=743"
                           class="art-heading">
                            承德医学院本发〔2018〕26号+承德医学院本科生学科竞赛...
                        </a>

                    </li>


                </ul>
            </div>
        </div>
        <div class="zdts new fl pr16">
            <div class="title">
                <h3>
                    重点提示
                </h3>
                <a href="/kyxl/xtgg_tzlist.action?nav=zdts&type=zdts">
                    <span>|</span> more</a>
            </div>
            <ul class="cg-news-list">

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=796"
                       class="art-heading">
                        本科生院、科学技术研究院、社会科学研究院关于征集20...
                    </a>
                    <span class="art-date">[02-27]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=794"
                       class="art-heading">
                        关于开展2020年国家、省、学校、学院四级大学生创新...
                    </a>
                    <span class="art-date">[01-15]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=793"
                       class="art-heading">
                        关于公布承德医学院第二十五届大学生机械设计竞赛 理论方...
                    </a>
                    <span class="art-date">[01-15]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=790"
                       class="art-heading">
                        本科生院关于举行承德医学院“中控杯”第十四届大学生过程...
                    </a>
                    <span class="art-date">[12-20]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=789"
                       class="art-heading">
                        本科生院关于举办承德医学院第十五届“中控杯”大学生机器...
                    </a>
                    <span class="art-date">[12-04]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=788"
                       class="art-heading">
                        本科生院关于举办承德医学院第十一届大学生电子商务竞赛的...
                    </a>
                    <span class="art-date">[12-04]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=787"
                       class="art-heading">
                        承德医学院第六届物理学术竞赛培训通知
                    </a>
                    <span class="art-date">[11-14]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=785"
                       class="art-heading">
                        关于举行承德医学院第二十五届大学生机械设计竞赛的通知
                    </a>
                    <span class="art-date">[10-16]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=784"
                       class="art-heading">
                        本科生院关于举办承德医学院第六届大学生物理学术竞赛的通...
                    </a>
                    <span class="art-date">[10-16]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=782"
                       class="art-heading">
                        关于公示学科竞赛获奖推荐2020级免试研究生资格学生...
                    </a>
                    <span class="art-date">[09-18]</span>


                </li>

                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=781"
                       class="art-heading">
                        本科生院关于举办承德医学院第13届大学生节能减排社会实...
                    </a>
                    <span class="art-date">[09-18]</span>


                </li>


            </ul>
        </div>
        <div class="xwdt fr width_240">
            <div class="title">
                <h3>
                    新闻动态
                </h3>
                <a href="/kyxl/xtgg_tzlist.action?nav=xwdt&type=xwdt">
                    <span>|</span> more</a>
            </div>
            <ul class="cg-news-list">


                <li>


                    <div class="art-img">
                        <a href="/kyxl/xtgg_getOne.action?ggid=729"><img
                                src="/kyxl/uploads/1550825917758.png" alt="承德医学院全国高校第一！2014-2018年中国高校创新人才培养暨学科竞赛评估结果发布"/>
                        </a>
                    </div>
                    承德医学院全国高校第一！2014-2018年中国高校创新人才培养暨学科竞赛评估结果发布
                    <h3 class="art-heading">
                        <a href="" class="fl">承德医学院全国高校第一！2014</a>
                        <span class="art-date fr">[02-22]</span>
                    </h3>


                </li>


            </ul>
        </div>
        <div class="cgzs fr width_240 mt10">
            <div class="title">
                <h3>
                    成果展示
                </h3>
                <a href="/kyxl/xtgg_tzlist.action?nav=cgzs&type=cgzs">
                    <span>|</span> more</a>
            </div>
            <ul class="cg-news-list">


                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=792"
                       class="cgzs-heading">
                        关于公布承德医学院第二十五...
                    </a>
                    <span class="art-date">01-15</span>


                </li>


                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=763"
                       class="cgzs-heading">
                        关于公示“当世界爱上中国...
                    </a>
                    <span class="art-date">04-30</span>


                </li>


                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=760"
                       class="cgzs-heading">
                        本科生院关于承德医学院第十...
                    </a>
                    <span class="art-date">04-30</span>


                </li>


                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=751"
                       class="cgzs-heading">
                        承德医学院第12届大学生节...
                    </a>
                    <span class="art-date">04-15</span>


                </li>


                <li>


                    <a href="/kyxl/xtgg_getOne.action?ggid=746"
                       class="cgzs-heading">
                        关于承德医学院“中控杯”第...
                    </a>
                    <span class="art-date">04-01</span>


                </li>


            </ul>
        </div>
    </div>
    <div class="pt23 clearfix">
        <div class="xglj fl width_240 pr16">
            <div class="title">
                <h3>
                    相关链接
                </h3>
            </div>
            <ul class="cg-news-list">
                <li>
                    <a href="http://jwbinfosys.zju.edu.cn/">教务管理系统</a>
                </li>

                <li>
                    <a href="http://bksy.zju.edu.cn/">本科生院</a>
                </li>

                <li>
                    <a href="http://www.zjcontest.net/#/home">河北省大学生科技竞赛网</a>
                </li>

                <li>
                    <a href="http://www.zju.edu.cn/">承德医学院</a>
                </li>

                <li>
                    <a href="http://www.moe.edu.cn/s78/A08/">教育部高等教育司</a>
                </li>

            </ul>
        </div>
        <div class="kyxl fl">
            <div class="title">
                <h3>
                    科研训练
                </h3>
                <a href="/kyxl/xtgg_tzlist.action?nav=kyxl&type=zdts"> <span>|</span>
                    more</a>
            </div>
            <div class="kyxlTab">
                <ul>
                    <li>
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=1"
                           title="国创——国家大学生创新创业训练计划项目">国创——国家大学生创新创业训练计划项目</a>
                    </li>
                    <li>
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=2" title="省创——河北省大学生科技创新活动计划（新苗人才计划）项目">省创——河北省大学生科技创新活动计划（新苗人才计划）项目</a>
                    </li>
                    <li style="line-height: 19px">
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=4"
                           title="校级SRTP——承德医学院大学生科研训练计划项目（Student Research Training Program）">
									<span style="display: block;">
										校级SRTP——承德医学院大学生科研训练计划项目（Student Research
									</span>
                            <span style="margin-left: 105px;">
										Training Program）
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=4" title="院级SRTP——学院大学生科研训练计划项目">院级SRTP——学院大学生科研训练计划项目</a>
                    </li>
                    <li style="line-height: 19px">
                        <a href="/kyxl/login_getKyxl.action?s_xmlx1=3" title="科教协同——中控教育基金项目、教育部有关企业支持的产学合作协同育人项目"></a>
                        <span style="display: block;">
										科教协同——中控教育基金项目、教育部有关企业支持的产学合作协同
								</span>
                        <span style="margin-left: 100px;">
									 育人项目
								</span>
                    </li>
                </ul>
            </div>
            <script>
                $(function () {
                    (function () {
                        $(".tabTitle").click(function () {
                            $(".tabContent").hide();
                            $(this).next(".tabContent").show();
                        })
                    })()
                })
            </script>
        </div>
        <div class="xkjs width_240 fr">
            <div class="title">
                <h3>
                    学科竞赛
                </h3>
                <a href="http://kyjs.zju.edu.cn/xkjs/"> <span>|</span> more</a>
            </div>
            <ul class="xkjsList">
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=zjjs">国际级</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=gjjs">国家级</a>
                </li>
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=sjjs">省级</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?jstype=xjjs">校级</a>
                </li>
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=aljs">A类竞赛</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=bljs">B类竞赛</a>
                </li>
                <li class="fl">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=cljs">c类竞赛</a>
                </li>
                <li class="fr">
                    <a href="http://kyjs.zju.edu.cn/xkjs/front/queryjslist?gllx=yjdljs">院级D类竞赛</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:include="common-view/footer"></div>
</body>
</html>