<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common-view/head"></head>
<body>
<div th:include="common-view/header"></div>
<div th:include="common-view/nav"></div>
<script src="/static/js/cg.autoNav.js"></script>
<script src="/static/js/nav.cg-nav.js"></script>


<div class="content width_1000">
    <div class="main">
        <div class="main_right">
            <div class="tzgg" style="min-height:700px; margin: auto 0px">

                <table style="table-layout: fixed; word-wrap: break-word;"
                       border="0" align="center" cellpadding="4" cellspacing="0"
                       class="main_tbbg" id="datatable">
                    <tr bgcolor="#FFFFFF">
                        <td align="center">
                            <div style="padding: 10px 0px">
                                <font size="5" style="margin:auto;font-weight: bolder;color:#FF7D57"
                                      th:text="${article.articleTitle}"></font>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                        <td align="center">
                            <div style="margin:auto; border:1px dotted #ccc;padding: 5px">
                                编辑： <span th:text="${article.createMan}"></span>
                                日期：<span th:text="${#dates.format(article.createDate, 'yyyy-MM-dd')}"></span>
                            </div>
                        </td>

                    </tr>
                    <tr bgcolor=" #FFFFFF">
                        <td>
                            <span style="font-family: 楷体_GB2312;text-indent:2em;padding:0em;line-height:35px;"><span
                                    style="font-size: large;"><br/>
                                <span th:utext="${article.articleText}"></span>
                                <br type="_moz"/>
                            </span>
                            </span>
                            <br/>
                        </td>
                    </tr>
                    <tr bgcolor=" #FFFFFF">
                        <td>
                            <span style="font-family: 楷体_GB2312;text-indent:2em;padding:0em;line-height:35px;"><span
                                    style="font-size: large;"><br/>
                                <a th:href="@{'http://49.235.45.25/'+${article.articleLink}}"
                                   th:text="${article.articleLink}"></a>
                                <br type="_moz"/>
                            </span>
                            </span>
                            <br/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div th:include="common-view/footer"></div>
<script src="/static/js/lib/edit/wangEditor.js" charset="utf-8"></script>
<script type="text/javascript">

</script>
</body>
</html>